@use "variables";

.layout-footer {
  transition: margin-left variables.$transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-top: 1rem;
}
