/* General */
$scale: 13px; /* main font size */
$borderRadius: 4px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: .2s; /* transition duration of layout elements e.g. sidebar, overlay menus */
