<naikan-breadcrumb [items]="[{label: 'Administration', routerLink: '/administration'}, {label: 'Tokens', routerLink: '/administration/tokens'}]" />
<p-confirmDialog [style]="{width: '40vw'}" />

@for (message of messages(); track message) {
  <p-message [severity]="message.severity" closable="true">{{message.content}}</p-message>
}

<div class="card card-border-none">
  <h5> {{page?.totalElements}} Tokens</h5>
  <p-table class="w-full"
           dataKey="id"
           #tableAdministrationTokens
           styleClass="p-datatable-striped"
           [rowHover]="true"
           [value]="page?.content"
           [lazy]="true"
           (onLazyLoad)="loadTokens($event)"
           [paginator]="true"
           [alwaysShowPaginator]="false"
           [rows]="25"
           [defaultSortOrder]="-1"
           [sortOrder]="-1"
           sortField="created"
           [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
           [totalRecords]="page?.totalElements">
    <ng-template pTemplate="caption">
      <div class="flex justify-between flex-wrap mb-2 mt-12">
        <div class="flex items-center justify-center">
          <naikan-search #search [table]="tableAdministrationTokens"></naikan-search>
        </div>
        <div class="flex items-center justify-center">
          <button pButton label="Clear" class="p-button-outlined"
                  icon="pi pi-filter-slash"
                  (click)="tableAdministrationTokens.reset(); search.clear()">
          </button>
          <button pButton icon="pi pi-plus" class="ml-4" tooltipPosition="top" pTooltip="Add token"
                  (click)="openNewTokenDialog()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="token">Token
          <p-sortIcon field="token"></p-sortIcon>
        </th>
        <th pSortableColumn="created">Created
          <p-sortIcon field="created"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">Created by
          <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th pSortableColumn="lastUsed">Last used
          <p-sortIcon field="lastUsed"></p-sortIcon>
        </th>
        <th pSortableColumn="description">Description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th class="w-16"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          {{ item.token }}
          @if (isDateWithinFiveMinutes(item.created)) {
            <p-tag class="ml-1" severity="success" value="new"
            ></p-tag>
          }
        </td>
        <td>{{ item.created | naikanDateTime }}</td>
        <td>
          <naikan-url [url]="item.createdBy"></naikan-url>
        </td>
        <td>{{ item.lastUsed | naikanDateTime }}</td>
        <td class="width-limited-column"
            tooltipPosition="top"
            pTooltip="{{ item.description }}">
          {{ item.description }}
        </td>
        <td>
          <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"
                    (click)="confirmDelete(item.id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="newTokenDialog" [style]="{ width: '450px' }" header="Add new token"
          [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <p-iftalabel>
      <textarea id="description" pTextarea [(ngModel)]="description" rows="3" class="w-full"></textarea>
      <label for="description">Description</label>
    </p-iftalabel>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-outlined"
            (click)="hide()"></button>
    <button pButton label="Save" icon="pi pi-check" (click)="save()"></button>
  </ng-template>
</p-dialog>