<div class="bg-surface-0 px-12 py-20 md:px-12 lg:px-20 text-center">
  <div class="mb-4 font-bold text-2xl">
    <span class="text-surface-900">Administration</span>
  </div>
  <div class="text-surface-700 text-sm mb-12">Select one detail administration configuration.</div>
  <div class="grid grid-cols-12 gap-12">
    <div class="col-span-12 md:col-span-3 mb-12 px-20">
            <span class="p-12 shadow mb-12 inline-block bg-surface-0" style="border-radius: 10px;">
                <a routerLink="/administration/profile"><i
                    class="pi pi-user text-4xl text-primary-500"></i></a>
            </span>
      <div class="text-surface-900 mb-4 font-medium">Profile</div>
      <span class="text-surface-700 text-sm leading-normal">See your profile.</span>
    </div>
    <div class="col-span-12 md:col-span-3 mb-12 px-20" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-12 shadow mb-12 inline-block bg-surface-0" style="border-radius: 10px;">
                <a routerLink="/administration/users"><i
                    class="pi pi-users text-4xl text-primary-500"></i></a>
            </span>
      <div class="text-surface-900 mb-4 font-medium">Users</div>
      <span class="text-surface-700 text-sm leading-normal">Administrate users.</span>
    </div>
    <div class="col-span-12 md:col-span-3 mb-12 px-20" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-12 shadow mb-12 inline-block bg-surface-0" style="border-radius: 10px;">
                <a routerLink="/administration/projects"><i
                    class="pi pi-heart text-4xl text-primary-500"></i></a>
            </span>
      <div class="text-surface-900 mb-4 font-medium">Projects</div>
      <span class="text-surface-700 text-sm leading-normal">See and administrate projects.</span>
    </div>
    <div class="col-span-12 md:col-span-3 mb-12 px-20" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-12 shadow mb-12 inline-block bg-surface-0" style="border-radius: 10px;">
                <a routerLink="/administration/tokens"><i
                    class="pi pi-lock text-4xl text-primary-500"></i></a>
            </span>
      <div class="text-surface-900 mb-4 font-medium">Tokens</div>
      <span class="text-surface-700 text-sm leading-normal">Restrict access via access tokens for the public API.</span>
    </div>
  </div>
</div>