<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Administration</span>
  </div>
  <div class="text-700 text-sm mb-6">Select one detail administration configuration.</div>
  <div class="grid">
    <div class="col-12 md:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/administration/profile"><i
                    class="pi pi-user text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Profile</div>
      <span class="text-700 text-sm line-height-3">See your profile.</span>
    </div>
    <div class="col-12 md:col-3 mb-4 px-5" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/administration/users"><i
                    class="pi pi-users text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Users</div>
      <span class="text-700 text-sm line-height-3">Administrate users.</span>
    </div>
    <div class="col-12 md:col-3 mb-4 px-5" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/administration/projects"><i
                    class="pi pi-heart text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Projects</div>
      <span class="text-700 text-sm line-height-3">See and administrate projects.</span>
    </div>
    <div class="col-12 md:col-3 mb-4 px-5" *naikanHasAnyAuthority="'ROLE_ADMIN'">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/administration/tokens"><i
                    class="pi pi-lock text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Tokens</div>
      <span class="text-700 text-sm line-height-3">Restrict access via access tokens for the public API.</span>
    </div>
  </div>
</div>