@import url('assets/styles/layout.scss') layer(naikan);
@import url('../node_modules/primeicons/primeicons.css') layer(naikan);

@import "tailwindcss/preflight.css" layer(tailwind-base);
@import "tailwindcss/theme.css" layer(tailwind-base);
@import "tailwindcss/utilities.css" layer(tailwind-utilities);

@layer tailwind-base, primeng, tailwind-utilities, naikan;

@layer naikan {
  #overview-chart-wrapper {
    position: relative;
    height: 250px;
    overflow-y: auto;
  }

  .text-mono {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
  }

  .p-inputnumber-button-group {
    .p-inputnumber-button-up {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0;
    }

    .p-inputnumber-button-down {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0;
    }
  }

  .p-datatable-paginator-bottom {
    border: none;
    margin-top: 4rem;
  }

  .p-datatable-header {
    border: none;
  }
}

