<div class="card card-border-none">
  <div class="flex justify-content-between flex-wrap mb-4">
    <div class="flex align-items-center justify-content-center">
      <h5>
        <p-inputSwitch
            [(ngModel)]="favorites"
            tooltipPosition="top"
            pTooltip="Toggle favorites"
            [disabled]="user.favorites?.length === 0"
            (onChange)="toggleFavorites($event)">
        </p-inputSwitch>

        <span class="ml-4">{{page?.totalElements}} Projects </span>
        <span class="text-500 text-sm ml-2">showing {{favorites ? 'favorites' : 'all'}}</span>
      </h5>
    </div>

    <div class="flex align-items-center justify-content-center" *ngIf="page?.content?.length > 0">
      <button pButton
              label="Export"
              class="p-button-sm p-button-outlined"
              icon="pi pi-download"
              (click)="exportAll()">
      </button>
    </div>
  </div>

  <p-tabMenu [model]="viewMenuItems"
             [activeItem]="viewMenuActiveItem"
             (activeItemChange)="onViewMenuActiveItemChange($event)"></p-tabMenu>


  <p-table
      #projectsTable
      dataKey="id"
      [value]="page?.content"
      [paginator]="true"
      [lazy]="true"
      (onLazyLoad)="loadProjects($event)"
      [alwaysShowPaginator]="false"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [defaultSortOrder]="1"
      [rows]="25"
      [totalRecords]="page?.totalElements"
      styleClass="p-datatable-striped">

    <ng-template pTemplate="caption">

      <naikan-project-filter
          [table]="projectsTable"
          #naikanProjectFilter>
      </naikan-project-filter>

      <div class="flex flex-column md:flex-row justify-content-between mb-4 mt-4">
        <div class="flex">
          <naikan-search #search [table]="projectsTable"></naikan-search>
        </div>

        <div class="flex align-items-center">
          <button pButton
                  label="Clear"
                  class="p-button-outlined mr-3"
                  icon="pi pi-filter-slash"
                  (click)="projectsTable.reset(); search.clear()">
          </button>

          <button pButton
                  type="button"
                  class="mr-3" (click)="naikanProjectFilter.show()"
                  icon="pi {{
                    ProjectFilters.hasFilters(projectsTable.filters)
                    ? 'pi-filter-fill'
                    : 'pi-filter'
                  }}">
          </button>

          <p-dropdown [options]="sortOptions"
                      placeholder="Sort by name"
                      (onChange)="onSortChange($event)"
                      styleClass="md:w-15rem mb-2 md:mb-0">
          </p-dropdown>

          <i class="pi pi-sort-alt ml-3 text-primary"
             [ngClass]="sortOrder === -1 ? 'pi-sort-amount-down-alt': 'pi-sort-amount-up-alt'"
             style="font-size: 1.4rem;"
             (click)="toggleSortOrder()">
          </i>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr *ngIf="viewMenuActiveItem.id === '1'" class="naikan-project-view-condensed-header"></tr>
    </ng-template>

    <ng-template let-bom pTemplate="body">
      <div *ngIf="viewMenuActiveItem.id === '0'" class="naikan-project-view-overview-body" [bom]="bom"></div>
      <tr  *ngIf="viewMenuActiveItem.id === '1'" class="naikan-project-view-condensed-body" [bom]="bom"></tr>
    </ng-template>
  </p-table>
</div>