<div class="card card-border-none">
  <div class="flex justify-between flex-wrap mb-12">
    <div class="flex items-center justify-center">
        <p-toggle-switch
            [(ngModel)]="favorites"
            tooltipPosition="top"
            pTooltip="Toggle favorites"
            [disabled]="user.favorites?.length === 0"
            (onChange)="toggleFavorites($event)">
        </p-toggle-switch>

        <div class="ml-6">{{page?.totalElements}} Projects </div>
        <div class="text-surface-500 text-sm ml-2">showing {{favorites ? 'favorites' : 'all'}}</div>

    </div>
    @if (page?.content?.length > 0) {
      <div class="flex items-center justify-center">
        <button pButton
                label="Export"
                class="p-button-outlined"
                icon="pi pi-download"
                (click)="exportAll()">
        </button>
      </div>
    }
  </div>

  <p-tabs [(value)]="viewTabActiveItem">
    <p-tablist>
      @for (tab of viewTabs; track tab.id) {
        <p-tab [value]="tab.id">
          <i [class]="tab.icon"></i>
          <span>{{ tab.label }}</span>
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
  <p-table
      #projectsTable
      dataKey="id"
      [value]="page?.content"
      [paginator]="true"
      [lazy]="true"
      (onLazyLoad)="loadProjects($event)"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [defaultSortOrder]="1"
      [rows]="25"
      [totalRecords]="page?.totalElements"
      class="p-datatable-striped">
    <ng-template pTemplate="caption">
      <naikan-project-filter
          [table]="projectsTable"
          #naikanProjectFilter>
      </naikan-project-filter>
      <div class="flex flex-col md:flex-row justify-between mb-12 mt-12">
        <div class="flex">
          <naikan-search #search [table]="projectsTable"></naikan-search>
        </div>
        <div class="flex items-center">
          <button pButton
                  label="Clear"
                  class="p-button-outlined mr-4"
                  icon="pi pi-filter-slash"
                  (click)="projectsTable.reset(); search.clear()">
          </button>
          <button pButton
                  type="button"
                  class="mr-4" (click)="naikanProjectFilter.show()"
                  icon="pi {{
            ProjectFilters.hasFilters(projectsTable.filters)
            ? 'pi-filter-fill'
            : 'pi-filter'
            }}">
          </button>
          <p-select [options]="sortOptions"
                      placeholder="Sort by name"
                      (onChange)="onSortChange($event)"
                      class="md:w-60 mb-2 ">
          </p-select>
          <i class="pi pi-sort-alt ml-4 text-primary"
             [ngClass]="sortOrder === -1 ? 'pi-sort-amount-down-alt': 'pi-sort-amount-up-alt'"
             style="font-size: 1.4rem;"
             (click)="toggleSortOrder()">
          </i>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      @if (viewTabActiveItem === 1) {
        <tr class="naikan-project-view-condensed-header"></tr>
      }
      @if (viewTabActiveItem === 2) {
        <div class="naikan-project-view-insights-header" [bomOverviews]="page?.content" [table]="projectsTable"></div>
      }
    </ng-template>
    <ng-template let-bom pTemplate="body">
      @if (viewTabActiveItem === 0) {
        <div
            class="naikan-project-view-overview-body"
            [bomOverview]="bom"></div>
      }
      @if (viewTabActiveItem === 1) {
        <tr
          class="naikan-project-view-condensed-body"
          [bomOverview]="bom"></tr>
      }
    </ng-template>
  </p-table>
</div>