<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Overview</span>
  </div>
  <div class="text-700 text-sm mb-6">See detail overview information and statistics about your
    projects.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/environments"><i
                    class="pi pi-box text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Environments</div>
      <span class="text-700 text-sm line-height-3">See your environments and the projects, which are deployed to them.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/teams"><i
                    class="pi pi-users text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Teams</div>
      <span class="text-700 text-sm line-height-3">See your teams and the projects the are working on.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/developers"><i
                    class="pi pi-user text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Developers</div>
      <span class="text-700 text-sm line-height-3">See your developer and the projects the are working on.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/contacts"><i
                    class="pi pi-envelope text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Contacts</div>
      <span class="text-700 text-sm line-height-3">See the contacts which are assigned to your projects.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/integrations"><i
                    class="pi pi-link text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Integrations</div>
      <span class="text-700 text-sm line-height-3">See the integrations of your projects.</span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/technologies"><i
                    class="pi pi-code text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Technologies</div>
      <span class="text-700 text-sm line-height-3">See the technologies which are used within your projects.</span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                <a routerLink="/overview/deployments"><i
                    class="pi pi-cloud-upload text-4xl text-blue-500"></i></a>
            </span>
      <div class="text-900 mb-3 font-medium">Deployments</div>
      <span class="text-700 text-sm line-height-3">See all deployments of your projects on all environments.</span>
    </div>
  </div>
</div>