<button class="layout-config-button p-link" type="button" (click)="onConfigButtonClick()">
  <i class="pi pi-cog"></i>
</button>

<p-drawer [(visible)]="visible" position="right"
           [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
           styleClass="layout-config-sidebar w-full md:w-[30rem]">

  <h5 class="uppercase text-xl font-medium mt-6 mb-2">Scale</h5>
  <div class="flex justify-center">
    <button icon="pi pi-minus" type="button" pButton (click)="decrementScale()"
            class="p-button-text p-button-rounded w-8/12 h-8 mr-2 hover:bg-white"
            [disabled]="scale === scales[0]"></button>
    <div class="flex gap-2 items-center">
      @for (s of scales;track s) {
        <i class="pi pi-circle-fill text-surface-300"
           [ngClass]="{'text-primary-500': s === scale}"></i>
      }
    </div>
    <button icon="pi pi-plus" type="button" pButton (click)="incrementScale()"
            class="p-button-text p-button-rounded w-8/12 h-8 ml-2 hover:bg-white"
            [disabled]="scale === scales[scales.length - 1]"></button>
  </div>


  <h5 class="uppercase text-xl font-medium mt-12 mb-4">Menu Type</h5>
  <div class="flex flex-wrap gap-4">
    <div class="flex items-center">
      <p-radioButton name="menuMode" value="static" [(ngModel)]="menuMode"
                     inputId="static-mode"></p-radioButton>
      <label for="static-mode" class="ml-2">Static</label>
    </div>
    <div class="flex items-center">
      <p-radioButton name="menuMode" value="overlay" [(ngModel)]="menuMode"
                     inputId="overlay-mode"></p-radioButton>
      <label for="overlay-mode" class="ml-2">Overlay</label>
    </div>
  </div>
</p-drawer>
