<naikan-breadcrumb [items]="[{label: 'Administration', routerLink: '/administration'}, {label: 'Users', routerLink: '/administration/users'}]" />

<p-confirmDialog [style]="{width: '40vw'}" />

@for (message of messages(); track message) {
  <p-message [severity]="message.severity" closable="true">{{message.content}}</p-message>
}

<div class="card card-border-none">
  <h5> {{page?.totalElements}} Users</h5>

  <p-table class="w-full"
           dataKey="id"
           #tableAdministrationUsers
           styleClass="p-datatable-striped"
           [rowHover]="true"
           [value]="page?.content"
           [lazy]="true"
           (onLazyLoad)="loadUsers($event)"
           [paginator]="true"
           [alwaysShowPaginator]="false"
           [rows]="25"
           [defaultSortOrder]="1"
           [sortOrder]="1"
           sortField="name"
           [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
           [totalRecords]="page?.totalElements">

    <ng-template pTemplate="caption">
      <div class="flex justify-between flex-wrap mb-2 mt-12">
        <div class="flex items-center justify-center">
          <naikan-search #search [table]="tableAdministrationUsers"></naikan-search>
        </div>
        <div class="flex items-center justify-center">
          <button pButton label="Clear" class="p-button-outlined"
                  icon="pi pi-filter-slash"
                  (click)="tableAdministrationUsers.reset(); search.clear()">
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="authorities">Authorities
          <p-sortIcon field="authorities"></p-sortIcon>
        </th>
        <th class="w-16"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          {{ item.name }}
        </td>
        <td>
          <p-multiSelect [options]="authorities"
                         [(ngModel)]="item.authorities"
                         placeholder="Select a authority"
                         appendTo="body"
                         optionLabel="label"
                         optionValue="value"
                         styleClass="w-60"
                         (onChange)="onAuthoritiesChange(item.id, $event)"></p-multiSelect>
        </td>
        <td>
          <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"
                    (click)="confirmDelete(item.id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>