<div class="flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <img
        src="../../assets/images/naikan-dark-large.png"
        alt="Logo" class="mb-20 w-24 shrink-0">
    <div
        style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--p-primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full bg-surface-0 py-20 px-20 sm:px-20"
           style="border-radius:53px;">
        <div class="text-center mb-20">
          <div class="text-surface-900 text-3xl font-medium mb-12">
            Welcome to Naikan!
          </div>
          <span
              class="text-surface-600 font-medium">Sign in to continue</span>
        </div>

        <form class="form-horizontal md:w-[30rem]" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <label for="username"
                 class="block text-surface-900 font-medium mb-2">
            Username or email address
          </label>
          <input id="username" formControlName="username" type="text"
                 pInputText class="w-full md:w-[30rem] mb-10" required
                 autofocus="autofocus">

          <label for="password"
                 class="block text-surface-900 font-medium mb-2">Password</label>
          <p-password id="password" formControlName="password"
                      styleClass="mb-10 w-full" inputStyleClass="w-full md:w-[30rem]"
                      required></p-password>

          <button type="submit" pButton label="Sign In" icon="pi pi-user"
                  class="w-full p-2"></button>
          <p-messages [closable]="false"></p-messages>
        </form>
      </div>
    </div>
  </div>
</div>