@use "./_mixins";

.layout-sidebar {
  position: fixed;
  height: calc(100vh - 5rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 5rem;
  transition: transform .2s, .2s;
  background-color: var(--p-surface-overlay);
  border-radius: 0;
  padding: 0.5rem 1.5rem;
  border-right: 1px solid #eee;
}

@media (max-width: 991px) {
  .layout-sidebar {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .layout-sidebar {
    width: 275px;
  }
}

@media screen and (min-width: 1400px) {
  .layout-sidebar {
    width: 300px;
  }
}

@media screen and (min-width: 1600px) {
  .layout-sidebar {
    width: 350px;
  }
}

@media screen and (min-width: 1900px) {
  .layout-sidebar {
    width: 400px;
  }
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .layout-root-menuitem {
    > .layout-menuitem-root-text {
      font-size: .857rem;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--p-surface-900);
      margin: .75rem 0;
    }

    > a {
      display: none;
    }
  }

  a {
    user-select: none;

    &.active-menuitem {
      > .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  li.active-menuitem {
    > a {
      .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      position: relative;
      outline: 0 none;
      color: var(--p-text-color);
      cursor: pointer;
      padding: .75rem 1rem;
      border-radius:  4px;
      transition: background-color .2s, box-shadow .2s;

      .layout-menuitem-icon {
        margin-right: .5rem;
      }

      .layout-submenu-toggler {
        font-size: 75%;
        margin-left: auto;
        transition: transform .2s;
      }

      &.active-route {
        font-weight: 700;
        color: var(--p-primary-color);
      }

      &:hover {
        background-color: var(--p-surface-hover);
      }

      &:focus {
        @include mixins.focused-inset();
      }
    }

    ul {
      overflow: hidden;
      border-radius:  4px;

      li {
        a {
          margin-left: 1rem;
        }

        li {
          a {
            margin-left: 2rem;
          }

          li {
            a {
              margin-left: 2.5rem;
            }

            li {
              a {
                margin-left: 3rem;
              }

              li {
                a {
                  margin-left: 3.5rem;
                }

                li {
                  a {
                    margin-left: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}