<naikan-breadcrumb [items]="[{label: 'Administration', routerLink: '/administration'}, {label: 'Projects', routerLink: '/administration/projects'}]" />

<p-confirmDialog [style]="{width: '40vw'}" />

@for (message of messages(); track message) {
  <p-message [severity]="message.severity" closable="true">{{message.content}}</p-message>
}

<div class="card card-border-none">
  <h5> {{page?.totalElements}} Projects</h5>

  <p-table class="w-full p-datatable-striped"
           dataKey="id"
           #tableAdministrationProjects
           [rowHover]="true"
           [value]="page?.content"
           [lazy]="true"
           (onLazyLoad)="loadProjects($event)"
           [paginator]="true"
           [alwaysShowPaginator]="false"
           [rows]="25"
           [defaultSortOrder]="-1"
           [sortOrder]="-1"
           sortField="timestamp"
           [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
           [totalRecords]="page?.totalElements">

    <ng-template pTemplate="caption">
      <div class="flex justify-between flex-wrap mb-2 mt-12">
        <div class="flex items-center justify-center">
          <naikan-search #search [table]="tableAdministrationProjects"></naikan-search>
        </div>
        <div class="flex items-center justify-center">
          <button pButton label="Clear" class="p-button-outlined"
                  icon="pi pi-filter-slash"
                  (click)="tableAdministrationProjects.reset(); search.clear()">
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="repository">Repository
          <p-sortIcon field="repository"></p-sortIcon>
        </th>
        <th pSortableColumn="timestamp">Last updated
          <p-sortIcon field="timestamp"></p-sortIcon>
        </th>
        <th class="w-16"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td><a routerLink="/projects/{{item.id}}">{{ item.name }}</a></td>
        <td>
          <naikan-url [url]="item.repository"></naikan-url>
        </td>
        <td>
          {{ item.timestamp | naikanDateTime }}
        </td>
        <td>
          <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"
                    (click)="confirmDelete(item.id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>