<naikan-breadcrumb [items]="items" *ngIf="bomDetail">
  <ng-template #rightTemplate>
    <span *ngIf="bomDetail.timestamp"
          class="hidden md:inline-block font-normal text-500 text-sm mt-2 ml-2"> last updated
      <span class="text-700"> {{ bomDetail.timestamp | naikanDateTime }}</span>
    </span>

    <p-splitButton label="Export"
                   icon="pi pi-download"
                   [model]="this.exportItems"
                   (onClick)="exportXlsx()"
                   appendTo="body"
                   styleClass="p-button-sm p-button-outlined ml-4">
    </p-splitButton>
  </ng-template>
</naikan-breadcrumb>

<div class="card card-border-none" *ngIf="bomDetail">

  <div class="grid">
    <p-tabView orientation="left" class="w-full">

      <p-tabPanel header="Overview" class="line-height-3 m-0">
        <div class="grid" *ngIf="bomDetail.organization">
          <div class="col-12 mt-4 surface-50">
            <div class="text-xl font-bold text-900">
              <h5>Organization</h5>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.organization?.name}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">URL</label>
              <div class="col-12 md:col-10">
                <naikan-url [url]="bomDetail.organization?.url"></naikan-url>
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Department</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.organization?.department}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.organization?.description}}
              </div>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 mt-4">

            <div class="grid">
              <div class="col-8">
                <div class="text-xl font-bold text-900">
                  <h5>Project</h5>
                </div>
              </div>
              <div class="col-4 text-right">
                <naikan-project-version [project]="bomDetail.project">
                </naikan-project-version>
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.name}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Inception Year</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.inceptionYear}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">URL</label>
              <div class="col-12 md:col-10">
                <naikan-url [url]="bomDetail.project?.url"></naikan-url>
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Repository</label>
              <div class="col-12 md:col-10">
                <naikan-url [url]="bomDetail.project?.repository"></naikan-url>
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Packaging</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.packaging}}
              </div>
            </div>

            <div class="field grid" *ngIf="bomDetail.project?.groupId">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Group</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.groupId}}
              </div>
            </div>

            <div class="field grid" *ngIf="bomDetail.project?.artifactId">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Artifact</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.artifactId}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.description}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Notes</label>
              <div class="col-12 md:col-10">
                {{ bomDetail.project?.notes}}
              </div>
            </div>

            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Tags</label>
              <div class="col-12 md:col-10">
                <naikan-tags [tags]="bomDetail.tags"></naikan-tags>
              </div>
            </div>

            <div class="mt-6"
                 *ngIf="bomDetail.project?.groupId && bomDetail.project?.artifactId && bomDetail.project?.version">
              <p-tabView orientation="left" class="w-full">
                <p-tabPanel header="Maven" class="line-height-3 m-0">
                  <div class="relative">
                    <div class="flex align-items-center justify-content-end absolute z-2"
                         style="right: .75rem; top: .3rem; gap: .75rem;">
                      <p-button icon="pi pi-copy"
                                tooltipPosition="top"
                                pTooltip="Copy code"
                                styleClass="p-button-rounded p-button-secondary p-button-text"
                                (click)="copyToClipboard(maven)">
                      </p-button>
                    </div>

                    <pre class="surface-50 p-3 mt-3" #maven>
&lt;dependency&gt;
  &lt;groupId&gt;{{ bomDetail.project?.groupId}}&lt;/groupId&gt;
  &lt;artifactId&gt;{{ bomDetail.project?.artifactId}}&lt;/artifactId&gt;
  &lt;version&gt;{{ bomDetail.project?.version}}&lt;/versiond&gt;
&lt;/dependency&gt;
</pre>
                  </div>
                </p-tabPanel>

                <p-tabPanel header="Gradle" class="line-height-3 m-0">
                  <div class="relative">
                    <div class="flex align-items-center justify-content-end absolute z-2"
                         style="right: .75rem; top: .3rem; gap: .75rem;">
                      <p-button tooltipPosition="top"
                                pTooltip="Copy code"
                                icon="pi pi-copy"
                                styleClass="p-button-rounded p-button-secondary p-button-text"
                                (click)="copyToClipboard(gradle)">
                      </p-button>
                    </div>
                    <pre class="surface-50 p-3 mt-3" #gradle>
implementation "{{ bomDetail.project?.groupId}}:{{ bomDetail.project?.artifactId}}:{{ bomDetail.project?.version}}"
</pre>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </div>

        <h5 *ngIf="bomDetail.licenses?.length > 0">Licenses</h5>
        <p-table
            *ngIf="bomDetail.licenses?.length > 0"
            [value]="bomDetail.licenses">
          <ng-template pTemplate="body" let-license>
            <tr>
              <td class="pl-0">{{ license.name }}</td>
              <td>
                <naikan-url [url]="license.url"></naikan-url>
              </td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ license.description }}">
                {{ license.description }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Environments" class="line-height-3 m-0">
        <p-table
            #tableEnvironments
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.environments"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'location', 'description']"
        >

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableEnvironments"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="location">Location
                <p-sortIcon field="location"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Tags</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-environment>
            <tr>
              <td>{{ environment.name }}</td>
              <td>
                <naikan-url [url]="environment.location"></naikan-url>
              </td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ environment.description }}">
                {{ environment.description }}
              </td>
              <td>
                <naikan-tags [tags]="environment.tags"></naikan-tags>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Teams" class="line-height-3 m-0">
        <p-table
            #tableTeams
            [value]="bomDetail.teams"
            [paginator]="true"
            [rows]="25"
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [alwaysShowPaginator]="false"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'description']"
        >

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableTeams"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-team>
            <tr>
              <td>{{ team.name }}</td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ team.description }}">
                {{ team.description }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Developers" class="line-height-3 m-0">
        <p-table
            #tableDevelopers
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.developers"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'title','department','email','phone','organization','organizationUrl','timezone','description']"
        >

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableDevelopers"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="username">Username
                <p-sortIcon field="username"></p-sortIcon>
              </th>
              <th pSortableColumn="title">Title
                <p-sortIcon field="title"></p-sortIcon>
              </th>
              <th pSortableColumn="organization">Organization
                <p-sortIcon field="organization"></p-sortIcon>
              </th>
              <th pSortableColumn="organizationUrl">Organization URL
                <p-sortIcon field="organizationUrl"></p-sortIcon>
              </th>
              <th pSortableColumn="department">Department
                <p-sortIcon field="department"></p-sortIcon>
              </th>
              <th pSortableColumn="email">Email
                <p-sortIcon field="email"></p-sortIcon>
              </th>
              <th pSortableColumn="phone">Phone
                <p-sortIcon field="phone"></p-sortIcon>
              </th>
              <th pSortableColumn="timezone">Timezone
                <p-sortIcon field="timezone"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Roles</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-developer>
            <tr>
              <td>{{ developer.name }}</td>
              <td>{{ developer.username }}</td>
              <td>{{ developer.title }}</td>
              <td>{{ developer.organization }}</td>
              <td>
                <naikan-url [url]="developer.organizationUrl"></naikan-url>
              </td>
              <td>{{ developer.department }}</td>
              <td><a href="mailto:{{ developer.email }}">{{ developer.email }}</a></td>
              <td>{{ developer.phone }}</td>
              <td>{{ developer.timezone }}</td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ developer.description }}">
                {{ developer.description }}
              </td>
              <td>
                <ng-container *ngFor="let role of developer.roles">
                  <p-tag severity="info" value="{{role}}" class="mr-1"></p-tag>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Contacts" class="line-height-3 m-0">
        <p-table
            #tableContacts
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.contacts"
            [paginator]="true"
            [rows]="25"
            [alwaysShowPaginator]="false"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'title','email','phone','description']"
        >

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableContacts"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="title">Title
                <p-sortIcon field="title"></p-sortIcon>
              </th>
              <th pSortableColumn="email">EMail
                <p-sortIcon field="email"></p-sortIcon>
              </th>
              <th pSortableColumn="phone">Phone
                <p-sortIcon field="phone"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Roles</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-contact>
            <tr>
              <td>{{ contact.name }}</td>
              <td>{{ contact.title }}</td>
              <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
              <td>{{ contact.phone }}</td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ contact.description }}">
                {{ contact.description }}
              </td>
              <td>
                <ng-container *ngFor="let role of contact.roles">
                  <p-tag severity="info" value="{{role}}" class="mr-1"></p-tag>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Documentations" class="line-height-3 m-0">
        <p-table
            #tableDocumentations
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.documentations"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'location', 'description']"
        >
          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableDocumentations"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="location">Location
                <p-sortIcon field="location"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Tags</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-documentation>
            <tr>
              <td>{{ documentation.name }}</td>
              <td>
                <naikan-url [url]="documentation.location"></naikan-url>
              </td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ documentation.description }}">
                {{ documentation.description }}
              </td>
              <td>
                <naikan-tags [tags]="documentation.tags"></naikan-tags>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Integrations" class="line-height-3 m-0">
        <p-table
            #tableIntegrations
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.integrations"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'url', 'description']"
        >

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableIntegrations"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="url">URL
                <p-sortIcon field="url"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Tags</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-integration>
            <tr>
              <td>{{ integration.name }}</td>
              <td>
                <naikan-url [url]="integration.url"></naikan-url>
              </td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{ integration.description }}">
                {{ integration.description }}
              </td>
              <td>
                <naikan-tags [tags]="integration.tags"></naikan-tags>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Technologies" class="line-height-3 m-0">
        <p-table
            #tableTechnologies
            styleClass="p-datatable-striped"
            [rowHover]="true"
            [defaultSortOrder]="1"
            [sortOrder]="1"
            sortField="name"
            sortMode="multiple"
            [value]="bomDetail.technologies"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [globalFilterFields]="['name', 'version', 'description']"
        >
          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableTechnologies"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="version">Version
                <p-sortIcon field="version"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th>Tags</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-technology>
            <tr>
              <td>{{ technology.name }}</td>
              <td>
                <p-tag severity="success" value="{{ technology.version }}"></p-tag>
              </td>
              <td class="width-limited-column"
                  tooltipPosition="top"
                  pTooltip="{{technology.description }}">
                {{ technology.description }}
              </td>
              <td>
                <naikan-tags [tags]="technology.tags"></naikan-tags>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Deployments" class="line-height-3 m-0">

        <div class="card border-none px-0"
             *ngIf="deploymentsPerMonth?.names?.length > 0">
          <p-chart
              type="line"
              height="300px"
              [data]="chartDeployments.data"
              [options]="chartDeployments.options">
          </p-chart>
        </div>

        <p-table
            #tableDeployments
            styleClass="p-datatable-striped"
            [rowHover]="true"
            sortMode="multiple"
            sortField="timestamp"
            [sortOrder]="-1"
            [lazy]="true"
            (onLazyLoad)="loadDeployments($event)"
            [value]="deploymentsPage?.content"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [totalRecords]="deploymentsPage?.totalElements">

          <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-wrap">
              <div class="flex align-items-center justify-content-center">
                <naikan-search #searchDeployments [table]="tableDeployments"></naikan-search>
              </div>
              <div class="flex align-items-center justify-content-center">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="tableDeployments.reset(); searchDeployments.clear()"></button>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="environment">
                <div class="flex align-items-center">
                  <span class="mr-2">Environment</span>
                  <p-columnFilter field="environment" display="menu"
                                  placeholder="Environment">
                  </p-columnFilter>
                  <p-sortIcon field="environment"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="location">
                <div class="flex align-items-center">
                  <span class="mr-2">Location</span>
                  <p-columnFilter field="location" display="menu"
                                  placeholder="Location">
                  </p-columnFilter>
                  <p-sortIcon field="location"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="timestamp">
                <div class="flex align-items-center">
                  <span class="mr-2">Timestamp</span>
                  <p-columnFilter type="date" field="timestamp" display="menu"
                                  placeholder="Timestamp">
                  </p-columnFilter>
                  <p-sortIcon field="timestamp"></p-sortIcon>
                </div>
              </th>
              <th class="w-12rem" pSortableColumn="version">
                <div class="flex align-items-center">
                  <span class="mr-2">Version</span>
                  <p-columnFilter field="version" display="menu"
                                  placeholder="Version">
                  </p-columnFilter>
                  <p-sortIcon field="version"></p-sortIcon>
                </div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-deployment>
            <tr>
              <td>{{ deployment.environment }}</td>
              <td>
                <naikan-url [url]="deployment.location"></naikan-url>
              </td>
              <td>{{ deployment.timestamp | naikanDateTime }}</td>
              <td>
                <p-tag severity="success" value="{{ deployment.version }}"></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </p-tabPanel>

      <p-tabPanel header="Versions" class="line-height-3 m-0">

        <div class="card surface-50 border-none" *ngIf="latestVersionPerEnvironment?.length > 0">
          <div class="flex justify-content-between align-items-center mb-3">
            <h5>Deployed versions</h5>
          </div>

          <div style="max-height: 300px; overflow-y: auto;">
            <ul class="list-none p-0 m-0" *ngFor="let environment of latestVersionPerEnvironment">
              <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                <div>
                  <span class="text-900 font-medium mr-2 mb-1 md:mb-0">
                    {{environment.environment}}
                  </span>
                  <span class="ml-1 text-500">
                    <naikan-url [url]="environment.deployment.location"></naikan-url>
                  </span>
                  <div class="mt-1 text-600 text-sm">
                    {{environment.deployment.timestamp  | naikanDateTime }}
                  </div>
                </div>
                <div class="mt-2 md:mt-0 flex align-items-center">
                  <p-tag severity="success" value="{{ environment.deployment.version }}"></p-tag>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <p-table
            #tableVersions
            dataKey="version"
            styleClass="p-datatable-striped"
            [rowHover]="true"
            sortMode="multiple"
            [lazy]="true"
            (onLazyLoad)="loadGroupedDeploymentsPerVersion($event)"
            [value]="versionsPage?.content"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [expandedRowKeys]="expandedVersionRows"
            [rows]="25"
            [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
            [totalRecords]="versionsPage?.totalElements">

          <ng-template pTemplate="caption">
            <div class="flex justify-content-start flex-column sm:flex-row mb-2">
              <naikan-search [table]="tableVersions"></naikan-search>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th class="w-3rem">
                <p-button *ngIf="tableVersions.totalRecords > 0"
                          styleClass="p-button-primary"
                          icon="{{expandedVersionRows && Object.keys(expandedVersionRows).length ? 'pi pi-angle-down' : 'pi pi-angle-right'}}"
                          (click)="expandVersions()"
                          tooltipPosition="top"
                          pTooltip="Toggle rows">
                </p-button>
              </th>
              <th pSortableColumn="version">Version
                <p-sortIcon field="version"></p-sortIcon>
              </th>
              <th class="w-12rem" pSortableColumn="count">Deployments
                <p-sortIcon field="count"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-versionGroup let-expanded="expanded">
            <tr>
              <td>
                <button type="button"
                        pButton [pRowToggler]="versionGroup"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                </button>
              </td>
              <td>
                <p-tag severity="success" value="{{ versionGroup.version }}"></p-tag>
              </td>
              <td>
                <p-tag severity="primary"
                       value="{{ versionGroup.count }}"
                       [rounded]="true"></p-tag>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="rowexpansion" let-group>
            <tr>
              <td></td>
              <td colspan="2">
                <p-table
                    [value]="group.deployments"
                    [defaultSortOrder]="-1"
                    [sortOrder]="-1"
                    sortField="timestamp"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="environment">Environment
                        <p-sortIcon field="environment"></p-sortIcon>
                      </th>
                      <th pSortableColumn="location">Location
                        <p-sortIcon field="location"></p-sortIcon>
                      </th>
                      <th pSortableColumn="timestamp">Timestamp
                        <p-sortIcon field="timestamp"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-groupItem>
                    <tr>
                      <td class="w-20rem">{{ groupItem.environment }}</td>
                      <td>
                        <naikan-url [url]="groupItem.location"></naikan-url>
                      </td>
                      <td class="w-15rem">{{ groupItem.timestamp | naikanDateTime }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Crime Scene" class="line-height-3 m-0" *ngIf="bomDetail.repository">
        <div class="card surface-50 border-none">
          <div class="grid" style="margin-bottom: -12px;">
            <div class="col-6 text-left">
              <p-tag severity="success" class="mr-2" *ngIf="bomDetail.repository.name">
                <i class="pi pi-code m-2"></i>
                <span tooltipPosition="top"
                      pTooltip="Repository name"
                      class="mr-3">{{ bomDetail.repository.name }}</span>
              </p-tag>

              <p-tag severity="info" class="mr-2" *ngIf="bomDetail.repository.defaultBranch">
                <i class="pi pi-share-alt m-2"></i>
                <span tooltipPosition="top"
                      pTooltip="Default branch"
                      class="mr-3">{{ bomDetail.repository.defaultBranch }}</span>
              </p-tag>

              <span class="text-900 font-medium ml-2"
                    tooltipPosition="top"
                    pTooltip="Contributions to default branch, excluding merge commits">
                <i class="pi pi-clock mr-2"></i>{{ bomDetail.repository.totalCommits }}
              </span> Commits
              <span class="text-900 font-medium ml-2">
                <i class="pi pi-share-alt mr-2"></i>{{ bomDetail.repository.branchesCount }}
              </span> Branches
              <span class="text-900 font-medium ml-2">
                <i class="pi pi-tags mr-2"></i>{{ bomDetail.repository.tagsCount }}
              </span> Tags
            </div>

            <div class="col-6 text-right">
              <span *ngIf="bomDetail.repository.firstCommit">
                First commit
                <naikan-commit-id
                    commitId=" {{ bomDetail.repository.firstCommit?.commitId }}"></naikan-commit-id>
                on
                <span
                    tooltipPosition="top"
                    pTooltip="by {{ bomDetail.repository.firstCommit?.author?.name}} {{ bomDetail.repository.firstCommit?.author?.email }}"
                    class="text-700 mr-2">
                  {{ bomDetail.repository.firstCommit?.timestamp | naikanDateTime }}
                </span>
              </span>
              <p-tag *ngIf="bomDetail.repository.url"
                     severity="info">{{ bomDetail.repository.url }}</p-tag>
            </div>
          </div>
        </div>

        <p-tabView id="crime-scene-tabview">
          <p-tabPanel header="Commits">
            <div class="card border-none px-0"
                 *ngIf="commitsPerMonth?.names?.length > 0">

              <p-chart
                  type="line"
                  height="300px"
                  [data]="chartCommits.data"
                  [options]="chartCommits.options">
              </p-chart>
            </div>

            <p-table
                #tableCommits
                styleClass="p-datatable-striped"
                [rowHover]="true"
                sortMode="multiple"
                sortField="timestamp"
                [sortOrder]="-1"
                [lazy]="true"
                (onLazyLoad)="loadCommits($event)"
                [value]="commitsPage?.content"
                [paginator]="true"
                [alwaysShowPaginator]="false"
                [rows]="25"
                [rowsPerPageOptions]="[10, 25, 50, 100, 200]"
                [totalRecords]="commitsPage?.totalElements">

              <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    <naikan-search #searchCommits [table]="tableCommits"></naikan-search>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <button pButton label="Clear" class="p-button-outlined"
                            icon="pi pi-filter-slash"
                            (click)="tableCommits.reset(); searchCommits.clear()"></button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th class="w-12rem" pSortableColumn="author.name">
                    <div class="flex align-items-center">
                      <span class="mr-2">Author</span>
                      <p-columnFilter field="author.name" display="menu"
                                      placeholder="author">
                      </p-columnFilter>
                      <p-sortIcon field="author.name"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="commitId">
                    <div class="flex align-items-center">
                      <span class="mr-2">Commit</span>
                      <p-columnFilter field="commitId" display="menu"
                                      placeholder="commitId">
                      </p-columnFilter>
                      <p-sortIcon field="commitId"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="timestamp">
                    <div class="flex align-items-center">
                      <span class="mr-2">Timestamp</span>
                      <p-columnFilter type="date" field="timestamp" display="menu"
                                      placeholder="Timestamp">
                      </p-columnFilter>
                      <p-sortIcon field="timestamp"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="shortMessage">
                    <div class="flex align-items-center">
                      <span class="mr-2">Message</span>
                      <p-columnFilter field="shortMessage" display="menu"
                                      placeholder="shortMessage">
                      </p-columnFilter>
                      <p-sortIcon field="shortMessage"></p-sortIcon>
                    </div>
                  </th>
                  <th>Lines</th>
                  <th>Files</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-commit>
                <tr>
                  <td>{{ commit.author.name }}</td>
                  <td>
                    <naikan-commit-id commitId="{{ commit.commitId }}"></naikan-commit-id>
                  </td>
                  <td>{{ commit.timestamp | naikanDateTime }}</td>
                  <td class="width-limited-column"
                      tooltipPosition="top"
                      pTooltip="{{ commit.shortMessage }}">
                    {{ commit.shortMessage }}
                  </td>
                  <td>
                    <span tooltipPosition="top"
                          pTooltip="Added" class="text-green-500 mr-2">
                      {{ commit.changes.lines.added }} ++</span>
                    <span tooltipPosition="top"
                          pTooltip="Deleted" class="text-red-500">
                      {{ commit.changes.lines.deleted}} --</span>
                  </td>
                  <td>
                    <span tooltipPosition="top"
                          pTooltip="Added"
                          class="text-green-500 mr-2">
                      {{ commit.changes.files.added }} ++</span>
                    <span tooltipPosition="top"
                          pTooltip="Deleted"
                          class="text-red-500 mr-2">
                      {{ commit.changes.files.deleted}} --</span>
                    <span tooltipPosition="top"
                          pTooltip="Changed">
                      {{ commit.changes.files.changed}}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Branches">
            <p-table
                #tableBranches
                styleClass="p-datatable-striped"
                [rowHover]="true"
                [lazy]="true"
                (onLazyLoad)="loadRepositoryBranches($event)"
                [value]="branchesPage?.content"
                [paginator]="true"
                [alwaysShowPaginator]="false"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="branchesPage?.totalElements"
            >

              <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    <naikan-search #searchBranches [table]="tableBranches"></naikan-search>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <button pButton label="Clear" class="p-button-outlined"
                            icon="pi pi-filter-slash"
                            (click)="tableBranches.reset(); searchBranches.clear()"></button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th class="w-12rem" pSortableColumn="name">
                    <div class="flex align-items-center">
                      <span class="mr-2">Name</span>
                      <p-columnFilter field="name" display="menu"
                                      placeholder="name">
                      </p-columnFilter>
                      <p-sortIcon field="name"></p-sortIcon>
                    </div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-branch>
                <tr>
                  <td>{{ branch.name }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Tags">
            <p-table
                #tableTags
                styleClass="p-datatable-striped"
                [rowHover]="true"
                [lazy]="true"
                (onLazyLoad)="loadRepositoryTags($event)"
                [value]="repositoryTagsPage?.content"
                [paginator]="true"
                [alwaysShowPaginator]="false"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="repositoryTagsPage?.totalElements"
            >

              <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    <naikan-search #searchTags [table]="tableTags"></naikan-search>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <button pButton label="Clear" class="p-button-outlined"
                            icon="pi pi-filter-slash"
                            (click)="tableTags.reset(); searchTags.clear()"></button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th class="w-12rem" pSortableColumn="name">
                    <div class="flex align-items-center">
                      <span class="mr-2">Name</span>
                      <p-columnFilter field="name" display="menu"
                                      placeholder="name">
                      </p-columnFilter>
                      <p-sortIcon field="name"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="timestamp">
                    <div class="flex align-items-center">
                      <span class="mr-2">Timestamp</span>
                      <p-columnFilter type="date" field="timestamp" display="menu"
                                      placeholder="Timestamp">
                      </p-columnFilter>
                      <p-sortIcon field="timestamp"></p-sortIcon>
                    </div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-tag>
                <tr>
                  <td>{{ tag.name }}</td>
                  <td>
                    {{ tag.timestamp | naikanDateTime }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
        </p-tabView>
      </p-tabPanel>

    </p-tabView>
  </div>
</div>